.form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}
.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
.input {
  flex: 1;
}
.main {
  margin-top: 20px;
}
.cover {
  width: 200px;
}
.title {
  text-align: center;
  flex: 1;
}
.tip {
  text-align: center;
  flex: 1;
  color: var(--color-text-2);
}

@media screen and (max-width: 600px) {
  .form {
    margin-top: 0;
  }
}