.nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.hide {
  display: none;
}
.nft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.imgbox {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}
.img {
  width: 100%;
}
.btn {
  margin-top: 15px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}