.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
  box-shadow: 2px 0px 5px 0 rgb(0 0 0 / 8%);
  padding: 0 20px;
  z-index: 10;

  & > a {
    display: flex;
  }

  .menu_link {
    padding: 0;
  
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 12px;
      color: var(--color-text-1);
      text-decoration: none;
    }
  }
}
.logo {
  font-size: 18px;
  font-weight: 600;
  color: rgb(var(--primary-6));
}
.menus, .navs {
  display: flex;
  align-items: center;
}
.balance {
  margin: 0 10px;
}
.menu_btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 15px;
  }
  .menus .menu {
    display: none;
  }
  .menu_btn {
    display: block;
    margin-left: 15px;
  }
}