.footer {
  padding: 0 20px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-top: 30px;
}
.copyright {
  padding-bottom: 20px;
  text-align: center;
  color: var(--color-text-2);
}